
/* Desarrollo de Estilos para la Seccion:  */

 /*Estilos del main de CREATE*/
 .create {
    padding: var(--spacing-36) 0 ;
    font-family: var(--primary-font);
}

.create_form__row {
    display: flex;
    margin-top: var(--spacing-28);
    margin-bottom: var(--spacing-28);
}

.create_form__title {
    font-size: var(--font-jumbo);
    font-family: var(--alternative-font);
}

.create_form__select, .create_form__input {
    padding-right: var(--spacing-68);
}

.create_form__imagenes {
   padding-top: var(--spacing-28);
}

.create_form__input input {
    border: none;
    border-bottom: 2px solid var(--primary-color-solid);
}

label {
    font-size: var(--font-large);
    padding-right: 15px;
}

select, input, textarea {
    font-size: var(--font-medium);
    color: var(--dark-color-300);

}

select {
    width: 250px;
    border-radius: 6px;
    margin-right: var(--spacing-36);
}

#imagenes_producto {
    font-family: var(--primary-font);
    border-color: var(--dark-color-300); 
}

select:hover,input:hover,textarea:hover {
    color: var(--dark-color-900);
    font-size: var(--font-medium);
}
::placeholder {
    font-family: var(--base-font);
    color: var(--dark-color-300); 
}

textarea {
    margin-top: 2rem;
    width: 83rem;
    padding-left: var(--spacing-8);
}

.action__buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--spacing-28);
    margin-bottom: 36px;
    margin-top: 36px;
}

button {
    font-size: var(--font-xsmall);
    font-family: var(--primary-font);
    color: #ffffff;
    width: 17.5rem;
    border: none;
    background-color: var(--primary-color-solid);
    padding: var(--spacing-12) var(--spacing-12);
}

#nombre_producto {
    width: 300px;
}

#sku, #precio {
    width: 130px;
 }

#stock, #descuento {
    width: 55px;
}



@media screen and (max-width: 450px)  {
    
     .container {
       padding-left: 10px;
     }
     textarea {
        margin-top: 2rem;
        width: 100%;
        padding-left: var(--spacing-8);
    }
}