@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap');

:root {

    /* Palette */
    --primary-solid: #ff3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgba(29, 132, 181, 0.9);
    --secondary-500: rgba(29, 132, 181, 0.5);
    --secondary-300: rgba(29, 132, 181, 0.3);

    --dark-solid:  #1f1f1f;
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /* Tipography */
    --primary-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font-sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-18: 1.8rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: #111111;
    font-family: var(--primary-font);
}

/****************** Header ************************/

a {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: 1.8em;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

header {
    color: white;
    font-family: var(--alternative-font);
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36) ;
}

.header-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navbar-logo {
    max-width: 300px;
}

.header-navbar-menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar-link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3 ease-in-out;
}

.navbar-link:hover {
    background-color: var(--primary-900);
}


/****************** Form ************************/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 2.25rem auto;
}

.form-tittle {
    top: 180px;
    left: 462.5px;
    color: var(--dark-solid);
    font-family: var(--alternative-font);
    font-size: var(--font-xlarge);
    letter-spacing: 0.04em;
    text-align: center;    
}

.form-row {
    display: flex;
    align-items: center;
}

.form-label {
    flex: 1;
    font-size: var(--font-small);
    font-family: var(--base-primary);
    font-weight: 500;
    margin-right: 15px;
}

input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 0.25rem solid var(--primary-solid);
    font-family: var(--primary-font);
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 3rem;
  }

.button-login {
    color: white;
    background-color: var(--primary-solid);
    border-style: none;
    padding: 1rem;
    width: fit-content;
}

.button-checkbox {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.forgot-password {
    display: flex;
    font-size: var(--font-small);
    color: var(--secondary-solid); 
  }

 .forgot-password a:hover {
    color: var(--secondary-900);
  }


  /****************** Footer ************************/
footer {
    color: white;
    font-family: var(--alternative-font);
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36)
}

.footer-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-navbar-menu {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
}

.footer-navbar-item {
    display: list-item;
    text-align: -webkit-match-parent;
}
.footer-navbar-link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-18);
    transition: all .3s ease-in-out;
}

.footer-navbar-logo {
    max-width: 300px;
}

.footer-rights {
    text-align: center;
    margin-top: var(--spacing-36);
}